.hero {
  overflow: hidden;
  position: fixed;
  .bgImg {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 83.56%);
  }
}
